---
# Entries from the `projects` collection. Formats follow the position and repeat every twelve, see content-projects.css.
projects: null
# Text above the projects.
text: null
class: null
---
{{ _projects = view:projects }}
{{ if _projects }}
{{ _ratios = ['4/5', '4/5', '4/5', '21/9', '1/1', '3/4', '3/4', '16/9', '4/5', '16/9', '4/5', '1/1'] }}
<div class="projects_wrap{{ if view:class }} {{ view:class }}{{ /if }}">
    {{ partial:components/paragraph variant="large" max_width="40" class="projects_intro" }}{{ view:text }}{{ /partial:components/paragraph }}
    <ul class="projects_list">
        {{ _projects scope="project" }}
        {{ _slot = index % 12 }}
        <li class="projects_item">
            <{{ project:link ? 'a' : 'div' }} class="projects_card"{{ if project:link }} href="{{ project:link }}" target="_blank" rel="noopener"{{ /if }}>
                {{ partial:components/media :media="project:media" :ratio="_ratios[_slot]" }}
                <div class="projects_caption motion-up">
                    {{ partial:components/heading tag="h3" variant="h5" class="projects_title" }}{{ project:title }}{{ /partial:components/heading }}
                    {{ partial:components/paragraph tag="span" variant="small" class="projects_category" }}{{ project:category }}{{ /partial:components/paragraph }}
                </div>
            </{{ project:link ? 'a' : 'div' }}>
        </li>
        {{ /_projects }}
    </ul>
</div>
{{ /if }}
