{{#
	@name Default
	@desc The default template with an outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /default.antlers.html -->
<main class="w-screen overflow-x-hidden bg-black">
    <div id="grid-container" class="relative w-[120%] -left-[10%] scrollbar-hide">
        <div id="grid" class="grid grid-cols-5 gap-4 grid5"> 
            {{ collection:cards sort="random" }}
                <div class="h-56 overflow-hidden transition-transform duration-[50ms] aspect-w-3 aspect-h-4">
                    <div class="absolute -z-behind">{{index}}</div>
                    {{ partial:components/picture class="relative" cover="true" :image="image" sizes="(min-width: 768px) 50vw, 90vw" }}
                </div>
            {{ /collection:cards }}
        </div>
    </div>
    
    {{# counter #}}
    <div class="fixed p-4 text-xl font-bold text-right bg-white rounded-xl bottom-16 right-16" id="speed">0</div>

</main>
<!-- End: /default.antlers.html -->
