.cursor_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity var(--hover-duration) var(--hover-ease);

  &.is-visible {
    opacity: 1;
  }
  &[data-state="hidden"] {
    opacity: 0;
  }
  &:is([data-state="view"], [data-state="drag"]) {
    mix-blend-mode: normal;
  }
}

.cursor_shape {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.625rem;
  height: 0.625rem;
  translate: -50% -50%;
  --_dot: var(--light-100);
  border: var(--border-width) solid var(--_dot);
  border-radius: var(--radius-round);
  background-color: var(--_dot);
  transition:
    width 0.5s var(--ease-out),
    height 0.5s var(--ease-out),
    background-color 0.3s var(--ease-out);

  .cursor_wrap[data-state="link"] & {
    width: 2.75rem;
    height: 2.75rem;
    background-color: transparent;
  }
  .cursor_wrap[data-state="media"] & {
    width: 1.5rem;
    height: 1.5rem;
  }
  .cursor_wrap:is([data-state="view"], [data-state="drag"]) & {
    width: 5.5rem;
    height: 5.5rem;
    border-color: var(--button-background);
    background-color: var(--button-background);
  }
  .cursor_wrap[data-state="drag"] & {
    width: 7rem;
    height: 7rem;
  }
}

.cursor_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85%;
  text-align: center;
  color: var(--button-text);
  font-size: var(--text-small);
  font-weight: var(--primary-semibold);
  opacity: 0;
  scale: 0.6;
  transition:
    opacity 0.3s var(--ease-out),
    scale 0.5s var(--ease-out);

  .cursor_wrap:is([data-state="view"], [data-state="drag"]) & {
    white-space: nowrap;
    opacity: 1;
    scale: 1;
  }
  .cursor_wrap[data-state="view"] & {
    font-size: calc(var(--text-small) * 0.85);
  }
}
