.media_wrap {
  position: relative;
  aspect-ratio: var(--_ratio, 4/5);
  overflow: hidden;
}

.media_inner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-2);
  &:is([data-parallax]) {
    inset: -8% 0;
  }
  > :is(.image, .video) {
    height: 100%;
  }
}

.media_placeholder {
  padding: var(--space-1) var(--space-2);
  background-color: var(--background);
  font-weight: var(--primary-semibold);
}

.media_slides {
  position: absolute;
  inset: 0;
  --_enter: 100% 0;
  --_leave: -100% 0;
  &.slide-right {
    --_enter: -100% 0;
    --_leave: 100% 0;
  }
  &.slide-up {
    --_enter: 0 100%;
    --_leave: 0 -100%;
  }
  &.slide-down {
    --_enter: 0 -100%;
    --_leave: 0 100%;
  }
}

.media_slide {
  position: absolute;
  inset: 0;
  > :is(.image, .video) {
    height: 100%;
  }

  .media_slides.fade & {
    opacity: 0;
    transition: opacity var(--_duration, 1.2s) var(--ease-out);
    &.is-active {
      opacity: 1;
    }
  }

  .media_slides:is(.slide, .slide-right, .slide-up, .slide-down) & {
    translate: var(--_enter);
    transition: translate var(--_duration, 1.2s) var(--ease-out);
    &.is-active {
      translate: 0 0;
    }
    &.is-leaving {
      translate: var(--_leave);
    }
  }

  .media_slides.none & {
    visibility: hidden;
    &.is-active {
      visibility: visible;
    }
  }
}
