{{# Hero #}}
{{ partial:components/section padding_bottom="none" gap="0" class="home-hero_wrap" }}
    <div class="home-hero_intro">
        <div class="home-hero_heading motion-words" id="top">
            {{ partial:components/heading tag="h1" }}{{ if hero_heading_muted }}<span class="home-hero_muted motion-first">{{ hero_heading_muted }}</span> {{ /if }}{{ hero_heading }}{{ /partial:components/heading }}
        </div>
        {{ partial:components/paragraph variant="statement" max_width="40" class="home-hero_text motion-fade" }}{{ hero_text }}{{ /partial:components/paragraph }}
    </div>
    <div class="home-hero_media">
        {{ partial:components/media :media="hero_media[0]" ratio="16/10" placeholder="Bild folgt: Website-Mockup" parallax="-6" }}
        {{ partial:components/media :media="hero_media[1]" ratio="3/4" placeholder="Foto folgt" parallax="10" }}
        {{ partial:components/media :media="hero_media[2]" ratio="21/9" placeholder="Bild folgt: Panorama" parallax="-4" class="home-hero_wide" }}
    </div>
{{ /partial:components/section }}

{{# Info #}}
{{ partial:components/section padding_top="large" padding_bottom="large" }}
    {{ partial:components/content-labeled label="Info" id="info" }}
        {{ partial:components/paragraph variant="statement" class="motion-scrub" }}{{ info_text }}{{ /partial:components/paragraph }}
        {{ if info_link_label }}
        {{ partial:components/button-wrapper }}
            {{ partial:components/button element="link" variant="link" href="#kontakt" }}{{ info_link_label }}{{ /partial:components/button }}
        {{ /partial:components/button-wrapper }}
        {{ /if }}
    {{ /partial:components/content-labeled }}
{{ /partial:components/section }}

{{# Services #}}
{{ partial:components/section padding_top="large" padding_bottom="large" }}
    {{ partial:components/content-labeled label="Leistungen" id="leistungen" }}
        {{ partial:components/content-services }}
    {{ /partial:components/content-labeled }}
{{ /partial:components/section }}

{{# Promise #}}
{{ partial:components/section padding_top="large" padding_bottom="large" }}
    {{ partial:components/content-labeled label="Wie wir arbeiten" }}
        {{ partial:components/paragraph variant="statement" class="motion-scrub" }}{{ promise_text }}{{ /partial:components/paragraph }}
    {{ /partial:components/content-labeled }}
{{ /partial:components/section }}

{{# Work #}}
{{ partial:components/section padding_top="large" padding_bottom="large" }}
    {{ partial:components/content-labeled label="Arbeiten" id="arbeiten" }}
        {{ partial:components/content-projects :text="work_text" }}
    {{ /partial:components/content-labeled }}
{{ /partial:components/section }}

{{# Side projects #}}
{{ partial:components/section theme="dark" padding_top="large" padding_bottom="large" class="experiments_wrap" }}
    {{ partial:components/content-labeled label="Nebenbei" }}
        {{ partial:components/heading tag="h2" max_width="16" class="motion-up" }}Experimente und Leidenschaften{{ /partial:components/heading }}
    {{ /partial:components/content-labeled }}
    <div class="experiments_viewport" data-cursor="drag">
        <ul class="experiments_list">
            {{ if experiments }}
            {{ experiments scope="experiment" }}
            <li class="experiments_item">
                {{ partial:components/media :media="experiment" ratio="4/3" placeholder="Experiment" }}
                {{ if experiment:title }}<p class="experiments_title text-style-small">{{ experiment:title }}</p>{{ /if }}
            </li>
            {{ /experiments }}
            {{ else }}
            {{ loop times="5" }}
            <li class="experiments_item">{{ partial:components/media ratio="4/3" placeholder="Experiment" }}</li>
            {{ /loop }}
            {{ /if }}
        </ul>
    </div>
    <p class="experiments_hint text-style-small" aria-hidden="true">← Zum Blättern ziehen →</p>
{{ /partial:components/section }}

{{# Contact #}}
{{ partial:components/section padding_top="large" padding_bottom="large" class="home-contact_wrap" }}
    <div class="home-contact_content" id="kontakt">
        {{ partial:components/heading tag="h2" variant="h1" max_width="14" class="motion-up" }}{{ contact_heading }}{{ /partial:components/heading }}
        {{ partial:components/button-wrapper class="home-contact_actions" }}
            {{ if company:email }}
            {{ _copy_attrs = 'data-copy="' + company:email + '"' }}
            {{ _mailto = 'mailto:' + company:email }}
            {{ partial:components/button :attrs="_copy_attrs" class="home-contact_copy motion-up" }}{{ company:email }} <span class="home-contact_hint" data-copy-hint aria-live="polite">Kopieren</span>{{ /partial:components/button }}
            {{ partial:components/button element="link" variant="link" :href="_mailto" class="motion-up" }}E-Mail schreiben{{ /partial:components/button }}
            {{ /if }}
            {{ if company:linkedin }}
            {{ partial:components/button element="link" variant="link" :href="company:linkedin" class="motion-up" }}LinkedIn{{ /partial:components/button }}
            {{ /if }}
        {{ /partial:components/button-wrapper }}
    </div>
{{ /partial:components/section }}
